.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.912109;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(217,217,217);}
.fs1{font-size:72.000000px;}
.fs3{font-size:92.000000px;}
.fs0{font-size:96.000000px;}
.fs2{font-size:112.000000px;}
.y0{bottom:0.000000px;}
.y5{bottom:172.408447px;}
.y4{bottom:197.032450px;}
.y8{bottom:260.081875px;}
.y3{bottom:334.849014px;}
.y2{bottom:413.368301px;}
.y1{bottom:491.141586px;}
.y7{bottom:588.513897px;}
.y6{bottom:621.007515px;}
.h4{height:52.136719px;}
.h2{height:54.703125px;}
.h5{height:69.898438px;}
.h1{height:72.937500px;}
.h3{height:85.093750px;}
.h0{height:960.000000px;}
.w0{width:540.000000px;}
.x0{left:0.000000px;}
.x1{left:147.671249px;}
.x2{left:175.437508px;}
.x3{left:183.150032px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:96.000000pt;}
.fs3{font-size:122.666667pt;}
.fs0{font-size:128.000000pt;}
.fs2{font-size:149.333333pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:229.877930pt;}
.y4{bottom:262.709933pt;}
.y8{bottom:346.775833pt;}
.y3{bottom:446.465352pt;}
.y2{bottom:551.157735pt;}
.y1{bottom:654.855448pt;}
.y7{bottom:784.685196pt;}
.y6{bottom:828.010020pt;}
.h4{height:69.515625pt;}
.h2{height:72.937500pt;}
.h5{height:93.197917pt;}
.h1{height:97.250000pt;}
.h3{height:113.458333pt;}
.h0{height:1280.000000pt;}
.w0{width:720.000000pt;}
.x0{left:0.000000pt;}
.x1{left:196.894999pt;}
.x2{left:233.916677pt;}
.x3{left:244.200043pt;}
}
